

body {
    font-family: Arial, sans-serif;
    background-color: #31708f;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}

.logo h1 {
    font-size: 2rem;
    display: left;
    color: #31708f;
}

.logo a {
    font-size: 1rem;
    display: right;    
    text-decoration: none;
    font-weight: bold;
    color: #31708f;
    margin-inline: 10px;

    
}

.logo a:hover:after {
    content: "";
    display: block;
    width: 5px;
    border-bottom: 1px solid;
    margin: 0 auto;
}



main {
    display: flex;
    gap: 40px;
}

.dashboard {
    display: flex;
    gap: 40px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.card ul {
    list-style-type: none;
}

.card ul li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.card-actions {
    margin-top: 20px;
    gap: 20px;
}

.card-actions a {
    color: #31708f;
    text-decoration: none;
    font-weight: bold;
    margin-inline: 5px;
}

.actions {
    flex-grow: 1;
}

.actions h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.actions p {
    color: #ffffff;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 20px;
}

button {
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d97706;
}

